<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center">Order Details</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>Purchase Date</th>
          </tr>
        </thead>
        <tbody>
          {{#each orderItems}}
          <tr>
            <td><a href="/products/{{Product.id}}">{{Product.name}}</a></td>
            <td>{{quantity}}</td>
            <td>{{Product.price}}</td>
            <td>{{createdAt}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <a class="btn btn-default" href="/orders">Back to orders</a>
    </div>
  </div>
</div>