<div class="container">
<div class="intro"></div>
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default menu">
        <div class="panel-heading">View By Category</div>
        <div class="panel-body">
          <div class="list-group text-center">
            <a class="btn btn-default btn-block" href="/products">All</a>
            {{#each categories}}
            <form method="post" action="/products/category/{{name}}">
              <input type="hidden" name="categoryId" value="{{id}}">
              <button class="btn btn-default btn-block" type="submit" value="Submit">
              {{name}}
              </button>
            </form>
            {{/each}}
         </div>
        </div>
      </div>
    </div>
    <div class="col-md-9 main">
      {{#each products}}
        <div class="col-sm-6 col-md-4 product">
          <div class="thumbnail">
            <a href="/products/{{id}}">
              <img alt="{{name}}" src="{{img}}"></a>
              <div class="caption">
              <h3>{{name}}</h3>
              <p class="price">${{price}}</p>
              <form method="POST" action="/cart/{{id}}">
              <label for="quantity">Select quantity</label>
                <select class="form-control product-dropdown" id="quantity" name="quantity">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
                <button class="btn btn-default noPad" type="submit" value="Submit">Add To Cart</button>
                </form>
              <p><a href="/products/{{id}}" class="btn btn-primary btn-block view-product" role="button">View Product</a>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>